<div class="article-detail-container" *ngIf="!articleLoaded">
  <mat-card>
    <mat-card-content>
      <p>Loading...</p>
    </mat-card-content>
  </mat-card>
</div>

<div class="article-detail-container" *ngIf="articleLoaded">
  <mat-card class="article-content">
    <mat-card-content>
      <div *ngIf="errorMessage; else detailTemplate">
        <p class="error-message">{{ errorMessage }}</p>
      </div>
      <ng-template #detailTemplate>
        <div *ngIf="article">
          <h2>{{ article.title }}</h2>
          <h3>{{ article.description }}</h3>
          <div [innerHTML]="article.content"></div>
        </div>
      </ng-template>
    </mat-card-content>
  </mat-card>

  <div class="article-actions">
    <mat-card class="actions-card">
      <mat-card-content>
        <mat-form-field appearance="fill" class="version-select">
          <mat-label>Version</mat-label>
          <mat-select [(value)]="selectedVersion" (selectionChange)="onVersionChange($event.value)">
            <mat-option *ngFor="let article of articles" [value]="article.version">
              Version {{ article.version }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <ng-container *ngFor="let article of articles">
          <button *ngIf="article.version === selectedVersion && article.isEditable" mat-raised-button color="primary"
                  [routerLink]="['/articles/edit', article.publicId, selectedVersion, status]">
            Edit
          </button>
        </ng-container>
        <ng-container *ngIf="isAdmin && (selectedVersion === latestVersion || latestSubmittedArticle)">
          <ng-container *ngIf="!isArticleApproved(); else approvedTemplate">
            <button mat-raised-button color="accent" (click)="approveArticle('APPROVED')">Approve</button>
            <button mat-raised-button color="accent" (click)="approveArticle('EDITING')">Deny</button>
            <span class="not-approved-label">Not Approved</span>
          </ng-container>
          <ng-template #approvedTemplate>
            <div class="approved-label">Approved</div>
          </ng-template>
        </ng-container>
      </mat-card-content>
    </mat-card>
  </div>
</div>
